@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --grid-color: 26, 24, 24, 0.033;
  }

  [data-theme="dark"] {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --grid-color: 255, 255, 255, 0.033;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

li {
  color: rgb(var(--foreground-rgb));
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 7px;
  height: 3px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #4b515b;
}

::-webkit-scrollbar-thumb:hover {
  background: #5c636e;
}

.grid-class {
  background-size: 50px 50px;
  background-image: linear-gradient(
      to right,
      rgb(var(--grid-color)) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgb(var(--grid-color)) 1px, transparent 1px);
}

.circle-1 {
  will-change: transform;
  animation: circle-1-keyframes 15s ease-in-out infinite alternate;
}

@keyframes circle-1-keyframes {
  0% {
  }
  100% {
    transform: translateX(50px) translateY(50px);
  }
}

.animation {
  height: 50px;
  overflow: hidden;
  margin-left: 0.25rem;
}

.animation > div > div {
  padding: 0.25rem 0rem;
  height: 1.81rem;
  margin-bottom: 2.81rem;
  display: inline-block;
}

.animation div:first-child {
  animation: text-animation 8s infinite;
}

@keyframes text-animation {
  0% {
    margin-top: 0;
  }
  10% {
    margin-top: 0;
  }
  20% {
    margin-top: -4.1rem;
  }
  30% {
    margin-top: -4.1rem;
  }
  40% {
    margin-top: -4.1rem;
  }
  60% {
    margin-top: -8.4rem;
  }
  70% {
    margin-top: -8.4rem;
  }
  80% {
    margin-top: -8.4rem;
  }
  90% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}
